@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--black: #000000;
	--white: #ffffff;
	--dark: #373f47;
	--primary: #fb4b4e;
	--def-transition: all 0.3s ease;
	--inter: "Inter", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	outline: none;
	text-decoration: none;
}

*::-moz-selection {
	color: #fc8621;
	background-color: transparent;
}

*::selection {
	color: #fc8621;
	background-color: transparent;
}

html {
	font-size: 62.5%;
}

body {
	width: 100vw;
	overflow-x: hidden;
	font-family: var(--inter);
}
i {
	pointer-events: none;
}

.main-content {
	min-height: 100vh;
	overflow: hidden;
	background-color: var(--dark);
	background-image: -webkit-gradient(
			linear,
			left top,
			right bottom,
			from(rgba(0, 0, 0, 0.3)),
			to(rgba(0, 0, 0, 0.4))
		),
		url("../assets/path.jpg");
	background-image: -o-linear-gradient(
			left top,
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.4)
		),
		url("../assets/path.jpg");
	background-image: linear-gradient(
			to right bottom,
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.4)
		),
		url("../assets/path.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.permission-overlay {
	transition: var(--def-transition);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	backdrop-filter: blur(6px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 60;
}
.permission-hidden {
	opacity: 0;
	visibility: hidden;
}

.permission-popup {
	position: relative;
	min-width: 43rem;
	width: 43rem;
	padding: 2rem;
	border-radius: 1rem;
	background-image: linear-gradient(to top, #e2ebf0 0%, #cfd9df 100%);
}

.permission-header {
	margin: 1rem 0;
	font-size: 2.5rem;
	font-weight: 300;
	padding-bottom: 1.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.permission-subheader {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: 1.6;
	color: #233;
}

.permission-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2.2rem;
	background-color: transparent;
	color: #333333;
	transition: all 0.2s ease;
}

.permission-btn:hover {
	cursor: pointer;
	color: var(--primary);
}

.taskbar-btn {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
	padding: 1rem 2rem;
	z-index: 10;
	font-size: 1.8rem;
	font-family: var(--inter);
	border-radius: 5rem;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 600;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: var(--def-transition);
	-o-transition: var(--def-transition);
	transition: var(--def-transition);
	cursor: pointer;
	overflow: hidden;
}

.taskbar-icon {
	margin-left: 8px;
	background-color: var(--primary);
	color: var(--white);
	padding: 3px 5px;
	border-radius: 2rem;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.taskbar-btn::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 0;
	width: 0;
	background-color: var(--primary);
	z-index: -1;
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease;
	border-radius: 50rem;
}
.taskbar-btn:hover .taskbar-text {
	color: var(--white);
}

.taskbar-btn:hover::before {
	width: 125%;
	height: 125%;
}

.quote-container {
	-webkit-transition: var(--def-transition);
	-o-transition: var(--def-transition);
	transition: var(--def-transition);
	margin-left: 5rem;
	margin-top: 7rem;
	height: auto;
	color: var(--white);
}

.quote-content {
	font-size: 1.8rem;
	width: 65%;
	line-height: 1.8;
	font-style: italic;
	-webkit-transition: var(--def-transition);
	-o-transition: var(--def-transition);
	transition: var(--def-transition);
	font-weight: 700;
}

.quote-icon {
	font-size: 1rem;
	color: #eee;
}
.quote-author {
	-webkit-transition: var(--def-transition);
	-o-transition: var(--def-transition);
	transition: var(--def-transition);
	font-size: 1.8rem;
	margin-top: 1.5rem;
	font-weight: 200;
}

.greeting-container {
	-webkit-transition: var(--def-transition);
	-o-transition: var(--def-transition);
	transition: var(--def-transition);
	color: var(--white);
	margin-left: 5rem;
	margin-top: 7rem;
}

.greeting-main {
	font-size: 3.5rem;
	margin: 1.2rem 0;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 1.7;
}

.greeting-time {
	font-size: 12rem;
	margin: 1.2rem 0;
	font-weight: 900;
}

.greeting-month {
	font-size: 1.8rem;
	font-weight: 200;
	letter-spacing: 2px;
}

.greeting-location {
	font-size: 2.5rem;
	margin: 1.2rem 0;
}

.extra-notifications {
	padding: 2rem 0;
	-webkit-transition: var(--def-transition);
	-o-transition: var(--def-transition);
	transition: var(--def-transition);
	position: absolute;
	left: 0;
	background-color: rgba(238, 238, 238, 0.7);
	bottom: 0;
	width: 100%;
	min-height: 50vh;
	max-height: 50vh;
	z-index: 10;
	-webkit-backdrop-filter: blur(1rem);
	backdrop-filter: blur(1rem);
	display: -ms-grid;
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	grid-row-gap: 3rem;
	grid-template-columns: repeat(2, 1fr);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-ms-grid-columns: (1fr) [2];
}

.open-noti {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.notification-card {
	text-align: left;
	margin-left: 8rem;
}

.notification-header {
	font-size: 1.6rem;
	color: var(--dark);
	text-transform: uppercase;
}

.notification-value {
	font-size: 3rem;
	color: var(--black);
}

.taskbar-tgl {
	-webkit-transform: translateY(-50vh);
	-ms-transform: translateY(-50vh);
	transform: translateY(-50vh);
}

.quote-hide {
	-webkit-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

.greet-hide {
	-webkit-transform: translateY(-80%);
	-ms-transform: translateY(-80%);
	transform: translateY(-80%);
}

.icon-tgl {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.notification-header::-moz-selection,
.notification-value::-moz-selection {
	color: var(--primary);
}

.notification-header::selection,
.notification-value::selection {
	color: var(--primary);
}

.my-contact {
	position: fixed;
	right: 0;
	top: 0;
	padding: 1rem;
}

.contact-link {
	text-decoration: none;
	font-size: 2.2rem;
	margin: 0 4px;
	color: var(--white);
	-webkit-transition: var(--def-transition);
	-o-transition: var(--def-transition);
	transition: var(--def-transition);
}

.contact-link:hover {
	color: #fc8621;
}

/* Media Queries */

/* 800px */
@media only screen and (max-width: 50em) {
	html {
		font-size: 58%;
	}
	.greeting-container {
		margin-left: 3rem;
	}
	.quote-container {
		margin-left: 3rem;
	}
	.quote-content {
		width: 70%;
		line-height: 1.9;
	}
	.notification-card {
		margin-left: 4rem;
	}
}

/* 600px */
@media only screen and (max-width: 37.5em) {
	html {
		font-size: 54%;
	}
	.permission-header {
		text-align: center;
	}
	.notification-card {
		margin-left: 2.5rem;
	}
	.extra-notifications {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-row-gap: 0;
	}
}

/* 500px */
@media only screen and (max-width: 31.25em) {
	html {
		font-size: 50%;
	}
	.quote-content {
		width: 75%;
	}
	.permission-popup {
		min-width: 37rem;
		width: 37rem;
	}
}
