@use 'variables' as *;

main.main {
	min-height: 100vh;
	background-color: $color-black;
	background-image:
		linear-gradient(
			to bottom,
			rgba($orange-shade-dark, 0.15),
			rgba($color-black, 0.35)
		),
		url('./../assets/background.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	color: $color-white;
	padding: 6rem;
	position: relative;
}

@media only screen and (max-width: $responsive-breakpoint-1) {
	main.main {
		padding: 4rem;
	}
}

@media only screen and (max-width: $responsive-breakpoint-2) {
	main.main {
		padding: 3rem;
	}
}
