@use 'variables' as *;

main.main {
	min-height: 100vh;
	background-color: $color-black;
	background-image: linear-gradient(
			to right,
			rgba($orange-shade-light, 0.35),
			rgba($color-black, 0.35)
		),
		url('./../assets/background.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	color: $color-white;
}
