@use 'variables' as *;

.greeting {
	margin-top: 10rem;

	&--primary {
		font-size: 3.5rem;
		text-transform: uppercase;
		font-weight: 100;
	}

	& h3:first-of-type {
		font-size: 12rem;
		margin-top: 0.5rem;
		font-weight: 800;
		letter-spacing: 5px;
	}

	& h3:nth-of-type(2),
	& h3:nth-of-type(3) {
		display: inline-block;
		margin-top: 0.5rem;
		font-size: $default-font-size;
	}

	& h3:nth-of-type(3) {
		margin-left: 1.5rem;
	}
}

@media only screen and (max-width: $responsive-breakpoint-2) {
	.greeting {
		display: flex;
		flex-direction: column;

		&--primary {
			font-size: 3rem;
		}
		& h3 {
			margin: 1.5rem 0;
		}

		& h3:first-of-type {
			font-size: 10rem;
		}
	}
}
