@use 'variables' as *;

.loader {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	background: linear-gradient(
		0deg,
		rgba($orange-shade-light, 1),
		rgba($orange-shade-dark, 1)
	);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: $primary-purple;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
