@use 'variables' as *;

button.geodata--btn {
	margin-top: 2rem;
	background-color: $primary-orange;
	color: $color-white;

	&:hover {
		background-color: $orange-shade-dark;
	}
}

button.geodata--close {
	position: fixed;
	right: 0;
	top: 0;
	margin: 2rem;
	background-color: $primary-purple;
	color: $color-white;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 1.5rem;
	font-size: $default-font-size;
	text-transform: uppercase;
	font-family: $font;
	border: 2px solid transparent;
	outline: 2px solid transparent;
	border-radius: 4px;
	transition: $default-transition;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: 2px solid $primary-orange;
		border: 2px solid currentColor;
	}

	& span:nth-of-type(2) {
		margin-left: 5px;
	}
}
