// Fonts
$font: 'Funnel Display', sans-serif;

// Colors
// Primary
$primary-orange: #eb5a3c;
$primary-purple: #31081f;

// Shades
$orange-shade-light: #ffab5b;
$orange-shade-dark: #c14600;

// Secondary
$color-white: #ffffff;
$color-black: #000000;

// Font Styling
$default-font-size: 1.8rem;
$secondary-font-size: 2rem;

// Default Transition
$default-transition: all 0.25s ease;
